In [57]:
library(haven)
library(dplyr)

VARS_OF_INTEREST = c("AF66"
,"AJ32"
,"AF79"
,"AF86"
,"AF80" 
,"AB17"
,"AB34"
,"AG10"
,"AG11"
,"AG22"
,"AH33NEW"
,"AH34NEW"
,"AH35NEW"
,"AK25"
,"AK4"
,"AKWKLNG"
,"AM19"
,"AM20"
,"AM21"
,"BMI_P"
,"CITIZEN2"
,"DIABETES"
,"DSTRS12"
,"DSTRS30"
,"OMBSRR_P1"
,"RACECN_P1"
,"RACEDF_P1"
,"RACEHP2_P1"
,"SRAGE_P1"
,"SRSEX"
,"AA5C"
,"MARIT"
,"AB1"
,"AE15A"
,"AD32_P1"
,"OVRWT"
,"DISTRESS"
,"DSTRS_P1"
,"AH44"
,"AH43A"
,"AL22"
,"AK28"
,"AH130"
,"AH85B"
,"AK22_P1"
,"AE_FRUIT"
,"AE_VEGI"
,'YEAR' # added by me to have the year of each observation
)

length(VARS_OF_INTEREST)
VARS_OF_INTEREST

[1] 48

 [1] "AF66"       "AJ32"       "AF79"       "AF86"       "AF80"
 [6] "AB17"       "AB34"       "AG10"       "AG11"       "AG22"
[11] "AH33NEW"    "AH34NEW"    "AH35NEW"    "AK25"       "AK4"
[16] "AKWKLNG"    "AM19"       "AM20"       "AM21"       "BMI_P"
[21] "CITIZEN2"   "DIABETES"   "DSTRS12"    "DSTRS30"    "OMBSRR_P1"
[26] "RACECN_P1"  "RACEDF_P1"  "RACEHP2_P1" "SRAGE_P1"   "SRSEX"
[31] "AA5C"       "MARIT"      "AB1"        "AE15A"      "AD32_P1"
[36] "OVRWT"      "DISTRESS"   "DSTRS_P1"   "AH44"       "AH43A"
[41] "AL22"       "AK28"       "AH130"      "AH85B"      "AK22_P1"
[46] "AE_FRUIT"   "AE_VEGI"    "YEAR"

In [58]:
# create a function that receives a dataframe and returns a dataframe with the variables of interest
get_vars_of_interest <- function(df){
    # subset the array of variables of interest with only the variables that are in the data frame
    vars_of_interest_df = VARS_OF_INTEREST[VARS_OF_INTEREST %in% names(df)]

    # subset the data frame with only the variables of interest
    df_interest = df[vars_of_interest_df]

    return(df_interest)
}

In [59]:
# Import the adult SAS data file
# import each dataset from c(2015, 2019) and add a column with the year
# create empy array of dataframes
df_array = list()
for (year in c(2015, 2016, 2017, 2018, 2019)){
    # import the data
    df = read_sas(paste0("data/",year,"/adult_",year,".sas7bdat"))

    # add a column with the year
    df$YEAR = year

    #append df to array of dataframes
    df_array[[length(df_array)+1]] = get_vars_of_interest(df)
}

In [60]:
# concatanate the data frames
df = dplyr::bind_rows(df_array)

dim(df)
head(df)

[1] 106579     45

  AF66 AJ32 AB17 AB34 AG10 AG11 AG22 AH33NEW AH34NEW AH35NEW ⋯ AH43A AL22 AK28
1 -1   5    2    2    -1   -1   2    1        1       1      ⋯  1    -1   4
2 -1   5    2    2    -1   -1   2    1        2       1      ⋯ -1    -1   2
3 -1   5    2    2    -1   -1   2    1        1       1      ⋯ -1    -1   2
4 -1   5    2    2    -1   -1   1    1        1       1      ⋯ -1    -1   2
5 -1   3    2    1    -1    2   1    1        1       1      ⋯ -1    -1   1
6 -1   5    2    2    -1    2   1    2       -1      -1      ⋯ -1    -1   1
  YEAR AK22_P1 RACEHP2_P1 AH130 AH85B AE_FRUIT AE_VEGI
1 2015 NA      NA         NA    NA    NA       NA
2 2015 NA      NA         NA    NA    NA       NA
3 2015 NA      NA         NA    NA    NA       NA
4 2015 NA      NA         NA    NA    NA       NA
5 2015 NA      NA         NA    NA    NA       NA
6 2015 NA      NA         NA    NA    NA       NA

In [61]:
# save the data frame as csv file
write.csv(df, "data/adult_2015_2019_vars_interest.csv", row.names = FALSE)

In [63]:
# read csv file to check if it was saved correctly
df = read.csv("data/adult_2015_2019_vars_interest.csv")

dim(df)
head(df)

[1] 106579     45

  AF66 AJ32 AB17 AB34 AG10 AG11 AG22 AH33NEW AH34NEW AH35NEW ⋯ AH43A AL22 AK28
1 -1   5    2    2    -1   -1   2    1        1       1      ⋯  1    -1   4
2 -1   5    2    2    -1   -1   2    1        2       1      ⋯ -1    -1   2
3 -1   5    2    2    -1   -1   2    1        1       1      ⋯ -1    -1   2
4 -1   5    2    2    -1   -1   1    1        1       1      ⋯ -1    -1   2
5 -1   3    2    1    -1    2   1    1        1       1      ⋯ -1    -1   1
6 -1   5    2    2    -1    2   1    2       -1      -1      ⋯ -1    -1   1
  YEAR AK22_P1 RACEHP2_P1 AH130 AH85B AE_FRUIT AE_VEGI
1 2015 NA      NA         NA    NA    NA       NA
2 2015 NA      NA         NA    NA    NA       NA
3 2015 NA      NA         NA    NA    NA       NA
4 2015 NA      NA         NA    NA    NA       NA
5 2015 NA      NA         NA    NA    NA       NA
6 2015 NA      NA         NA    NA    NA       NA